<!DOCTYPE html>
<html>
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.cssx"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/material-kit.css?v=1.2.1"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/demo.css"}}" />


    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>


<body class="{{body_class}}">

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}
       <!--<footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
                <nav class="site-footer-nav">
                    <a href="{{@blog.url}}">Últimos posts</a>
                    {{#if @blog.facebook}}<a href="{{facebook_url @blog.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}}
                    {{#if @blog.twitter}}<a href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
                    {{#if @blog.twitter}}<a href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener">Instagram</a>{{/if}}
                </nav>
            </div>
        </footer> -->
        <!--
        <footer class="footer footer-transparent">
	        <div class="container">
	            <nav class="pull-left">
	                <ul>
						<li>
							<a href="#">
								Sexo Grado
							</a>
						</li>
						<li>
							<a href="#">
							   Aviso de privacidad
							</a>
						</li>
						<li>
							<a href="#">
							   Blog
							</a>
						</li>
						<li>
							<a href="#">
								Contacto
							</a>
						</li>
	                </ul>
	            </nav>
	            <div class="social-area pull-right">
	                <a class="btn btn-social btn-twitter btn-simple" href="#">
	                    <i class="fa fa-twitter"></i>
	                </a>
	                <a class="btn btn-social btn-facebook btn-simple" href="#">
	                    <i class="fa fa-facebook-square"></i>
	                </a>
	                <a class="btn btn-social btn-google btn-simple" href="#">
	                    <i class="fa fa-instagram"></i>
	                </a>
	            </div>
	            <div class="copyright">
	                &copy; <script>document.write(new Date().getFullYear())</script> Sexo Grado
	            </div>
	        </div>
	    </footer> -->
        

    </div>

    {{!-- The big email subscribe modal content --}}
    <!--
    {{#if @labs.subscribers}}
    <div id="subscribe" class="subscribe-overlay">
        <a class="subscribe-overlay-close" href="#"></a>
        <div class="subscribe-overlay-content">
            {{#if @blog.logo}}
                <img class="subscribe-overlay-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
            {{/if}}
            <h1 class="subscribe-overlay-title">Suscríbete {{@blog.title}}</h1>
            <p class="subscribe-overlay-description">¡Estar al día! Obtenga todo lo último &amp; de nuestro proyecto en tu email.</p>
            {{subscribe_form placeholder="youremail@example.com"}}
        </div>
    </div>
    {{/if}} -->

    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script src="{{asset "js/jquery.min.js"}}"></script>
    <script src="{{asset "js/bootstrap.min.js"}}"></script>
    <script src="{{asset "js/material.min.js"}}"></script>

    <script src="{{asset "js/moment.min.js"}}"></script>
    <script src="{{asset "js/nouislider.min.js"}}"></script>
    <script src="{{asset "js/bootstrap-datetimepicker.js"}}"></script>
    <script src="{{asset "js/bootstrap-selectpicker.js"}}"></script>
    <script src="{{asset "js/bootstrap-tagsinput.js"}}"></script>
    <script src="{{asset "js/jasny-bootstrap.min.js"}}"></script>
    <script src="{{asset "js/material-kit.js?v=1.2.1"}}"></script>

    <script>
        var header_height;
        var fixed_section;
        var floating = false;

        $().ready(function(){
            suggestions_distance = $("#suggestions").offset();
            pay_height = $('.fixed-section').outerHeight();

			$(window).on('scroll', materialKit.checkScrollForTransparentNavbar);

			// the body of this function is in assets/material-kit.js
			materialKit.initSliders();
			materialKit.initFormExtendedDatetimepickers();
        });
    </script>

    <!--
    <script>
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script> -->
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

    {{#if pagination.pages}}
    <script>
        var maxPages = parseInt('{{pagination.pages}}');
    </script>
    <script src="{{asset "js/infinitescroll.js"}}"></script>
    {{/if}}

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
